{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>form</h2>
    <form method="POST">
      {% csrf_token %}
      <label>Email: </label>

    </form>
  </body>
</html>
